body{
    background-color: black;
    color: red;
    margin: 70px;
}
li{
    color: #00ffff;
    margin: 5px;
    padding: 1px;
    list-style: none;
    font-size: 15px;

  
    
}
table{
    color: blanchedalmond;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid white;
    padding: 5px;
    font-size: 15px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 21px;
    
 

}
h1{
    text-align: center;
}
th{
    text-align: center;
    border: 2px solid white;
}
td{
    text-align: center;
    border: 2px solid white;

}